.settings {
    padding-top: 50px;
    flex-direction: column;
    display: flex;
	justify-content: center;
	align-items: center;
}

.settingsButton {
    display: block;
    width: 100%;
}

.settingsButtonTop {
    margin-bottom: 20px;
}

.settingsButtonBottom {
    margin-bottom: 30px;
}

.settingsSuccess, .settingsError {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.settingsSuccess {
    color: lawngreen;
}

.settingsError {
    color: rgba(233, 62, 58, 1);
}

@media screen and (max-width: 991px) {
    .settingsButtonDiv {
        width: 100%;
    }
}