.groupTitle {
    color: white;
    text-align: center;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.groupViewContainer {
    display: flex;
    justify-content: center;
}

.groupContent {
    width: 800px;
    padding: 0px;
}

.groupStartMatchButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.groupStartMatchButton {
    margin-top: 50px;
    margin-bottom: 700px;
    font-size: 24px;
}

.groupMemberList {
    padding-left: 30px;
}

.groupMember {
    display: flex;
    margin-bottom: 8px;
}

.groupMemberStatus {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.groupMemberText {
    color: white;
    font-size: 18px;
}

.online {
    background-color: rgb(70, 190, 80);
}

.offline {
    background-color: rgb(102, 95, 95);
}