.movieThumbnailRow {
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movieThumbnailRowGroup {
    padding-top: 0px;
}

.movieThumbnail {
    padding: 5px;
}

.darkmovieTitle {
    max-width: 440px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 24px;
    text-align: left;
    color: #f7f8fa;
}

.lightmovieTitle {
    max-width: 440px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 24px;
    text-align: left;
    color: #1c2237;
}

.darkmovieDescription {
    max-width: 440px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #f7f8fa;
}

.lightmovieDescription {
    max-width: 440px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #1c2237;
}

.rateButton {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px;
    height: 70px;
}

.movieInfoRow {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movieInfoText {
    font-size: 24px;
    text-align: center;
    color: #1c2237;
}

.matchEmpty {
    display: block;
    width: 100%;
}

.movieTableGroup {
    border-radius: 10px;
}

@media screen and (min-width: 992px) {
    .movieThumbnailDesktop {
        display: block;
    }

    .movieThumbnailMobile {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .movieThumbnailDesktop {
        display: none;
    }

    .movieThumbnailMobile {
        display: block;
    }

    .movieThumbnailRow {
        max-width: 100%;
        flex-basis: 100%;
        flex-direction: column;
    }

    .movieThumbnail {
        padding-bottom: 30px;
    }

    .movieTitle, .movieDescription {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .movieInfoRow {
        flex-direction: column;
    }

    .rateButton {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
    }
}